<div id="home-banner" class="row">
    <div id="home-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#home-carousel" data-slide-to="1"></li>
            <li data-target="#home-carousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="img/Slideshow/Zcube-Carbon-Fiber-Sticker-3x3x3-Speed-Magic-Cube.jpg" alt="Zcube Carbon Fiber" />
                <div class="jumbotron carousel-caption">
                    <h1><i class="fa fa-cube"></i>Carbon Cube!</h1>
                    <p>Ultra smooth, polished, anti-scratch surfaces</p>
                    <p><a href="/shop" class="btn btn-primary btn-lg" role="button">Buy now &raquo;</a></p>
                </div>
            </div>
            <div class="item">
                <img src="img/Slideshow/diagonal-drill-rubik.jpg" alt="Diagonal Drill Rubik" />
                <div class="jumbotron carousel-caption">
                    <!--class += "left"-->
                    <h1>Diagonal Rubik</h1>
                    <p>Diagonal Drill! Awesome!</p>
                    <p><a href="/shop" class="btn btn-primary btn-lg" role="button">Buy Now &raquo;</a></p>
                </div>
            </div>
            <div class="item">
                <img src="img/Slideshow/rubiks-cube-5x5-web.jpg" alt="Rubik Cube 5x5" />
                <div class="jumbotron carousel-caption">
                    <h1>Rubik 5x5</h1>
                    <p>Bigger! Greater!</p>
                    <p><a href="/shop" class="btn btn-primary btn-lg" role="button">Buy Now &raquo;</a></p>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#home-carousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right carousel-control" href="#home-carousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>