<footer id="page-footer">
    <div class="container">
        <div class="footer-contact text-center row">
            <div class="col-xs-12 col-sm-4 col-lg-2 col-lg-offset-3">
                <a href="#"><i class="fa fa-envelope-o"></i>PuzzleShop@gmail.com</a>
            </div>
            <div class="col-xs-12 col-sm-4 col-lg-2">
                <a href="#"><i class="fa fa-phone"></i>555.555.5555</a>
            </div>
            <div class="social-buttons col-xs-12 col-sm-4 col-lg-2">
                <a class="facebook" href="http://facebook.com/PuzzleShop"><i class="fa fa-facebook"></i></a>
                <a class="twitter" href="http://twitter.com/PuzzleShop"><i class="fa fa-twitter"></i></a>
                <a class="gplus" href="http://google.com"><i class="fa fa-google-plus"></i></a>
            </div>
        </div>
        <div class="footer-info wrap row">
            <div class="col-sm-8">
                <ul class="list-unstyled">
                    <li>&copy; Puzzle Shop @DateTime.Now.Year</li>
                    <li><a href="/shop">Shop</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/archives/blog">Blog</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/terms">Terms &amp; Conditions</a></li>
                    <li><a href="/privacy">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <p class="credit">Powered by <a href="http://www.lemonstand.com">LemonStand</a></p>
            </div>
        </div>
    </div>
</footer>