@using Microsoft.AspNetCore.Blazor.Components

<div class="col-md-2 column productbox">
    <img src="@ImageSrc" class="img-responsive"/>
    <div class="producttitle">@Title</div>
    <div class="productprice">@Price $</div>
</div>

@functions {

    [Parameter]
    private string ImageSrc { get; set; }
    [Parameter]
    private string Title { get; set; }
    [Parameter]
    private double Price { get; set; }
}