<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!--<add name="MongoDB" connectionString="mongodb+srv://admin:admin123@mtun-zxmxa.mongodb.net/test?retryWrites=true" />-->
    <add name="MongoDB" connectionString="mongodb://localhost:27017"/>
  </connectionStrings>
  <appSettings>

    <add key="DB" value="PuzzleShopDB" />

  </appSettings>
</configuration>